<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль. HH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

</head>
<body>
    $username
<a href="/profile/vacancies">Мои вакансии</a>
<a href="/profile/resumes">Мои резюме</a>
<a href="/resume/create">Создать резюме</a>
<a href="/vacancy/create">Создать вакансию</a>
<a href="/profile/vacancies/saved">Избранное вакансий</a>
<a href="profile/resumes/saved">Избранное резюме</a>
</body>
</html>
