<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль. HH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        let iter = 1;
        function createWorkplace() {
            const a = document.getElementById("id_workplaces")
            a.innerHTML += `<div id="workplace_form">
        <input name="companyName" id="id_companyName" required/>
        <input name="started" type="month" id="id_started" required/>
        <input name="finished" type="month" id="id_finished" required/>
        <textarea name="description"  id="id_wp_descr" required></textarea>
        <button onclick="saveWorkplace($('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>
        </div>`
        }
        function saveWorkplace(companyName, started, finished, description){
            let a = document.getElementById("workplace_form")
            let b = document.getElementById("id_workplaces")
            let data = JSON.stringify({
                "companyName": companyName,
                "started": started,
                "finished": finished,
                "description": description
            })
            b.removeChild(a)
            b.innerHTML += `
            <div id="${iter}">
            <input type="hidden" name="workplaces" value='${data}'/>
            <i class="fa fa-edit" onclick="edit(${iter})"></i>
            <div><h3>${companyName}</h3> <h6>${started} - ${finished}</h6><div>
            <div><p>${description}</p></div>
            </div>
            `
            iter++
            document.getElementById("id_submit_resume").disabled = false;

        }
        function edit(id){
            let a = document.getElementById(id)
            let d = a.childNodes[1].value
            let data = JSON.parse(d)
            let b = a.parentElement
            b.removeChild(a)
            b.innerHTML = `<div id="workplace_form">
            <input name="companyName" id="id_companyName" value="${data.companyName}" required/>
        <input name="started" type="month" id="id_started" value="${data.started}" required/>
        <input name="finished" type="month" id="id_finished" value="${data.finished}" required/>
        <textarea name="description"  id="id_wp_descr" required>${data.description}</textarea>
        <button onclick="saveWorkplace($('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>
        </div>`

        }

    </script>
</head>
<body>
<form action="/resume/create" method="POST">
    <input name="name" id="id_name" required/>
    <input type="checkbox" name="readyToBusinessTrip" value="true" required/>
    <input type="checkbox" name="moving" value="true" required/>
    <input name="sphere" id="id_sphere" required/>
    <input name="schedule" id="id_schedule" required/>
    <input name="type" id="id_type" required/>
    <input type="number" name="experience" id="id_experience" required/>
    <div id="id_workplaces" class="form-horizontal">

    </div>
    <i class="fa fa-plus" style="color: greenyellow" onclick="$('id_submit_resume').disabled = true; createWorkplace()"></i>
    <input name="description" id="id_description" required/>
    <input name="contact_info" id="id_contact_info" required/>
    <input name="salary" id="id_salary" type="number" required/>
    <input type="submit" id="id_submit_resume" value="Создать">
</form>
</body>
</html>
