<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль. HH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        let iter = 1;
        function createWorkplace() {
            const a = document.getElementById("id_workplaces")
            a.innerHTML += `<div id="workplace_form">
        <input name="companyName" id="id_companyName" required/>
        <input name="started" type="month" id="id_started" required/>
        <input name="finished" type="month" id="id_finished" required/>
        <textarea name="description"  id="id_wp_descr" required></textarea>
        <button onclick="saveWorkplace(null, $('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>
        </div>`
        }
        function saveWorkplace(id, companyName, started, finished, description){
            let a = document.getElementById("workplace_form")
            let b = document.getElementById("id_workplaces")
            let data = JSON.stringify({
                "id": id,
                "companyName": companyName,
                "started": started,
                "finished": finished,
                "description": description
            })
            b.removeChild(a)
            b.innerHTML += `
            <div id="new_${iter}">
            <input type="hidden" name="workplaces" value='${data}'/>
            <i class="fa fa-edit" onclick="edit('new_${iter}')"></i>
            <i class="fa fa-minus" onclick="deleteWorkplace('new_${iter}')"></i>
            <div><h3>${companyName}</h3> <h6>${started} - ${finished}</h6><div>
            <div><p>${description}</p></div>
            </div>
            `
            iter++
            document.getElementById("id_submit_resume").disabled = false;

        }
        function edit(id){
            let a = document.getElementById(id)
            let d = a.childNodes[1].value
            let data = JSON.parse(d)
            let b = a.parentElement
            b.removeChild(a)
            b.innerHTML += `<div id="workplace_form">
            <input name="companyName" id="id_companyName" value="${data.companyName}" required/>
        <input name="started" type="month" id="id_started" value="${data.started}" required/>
        <input name="finished" type="month" id="id_finished" value="${data.finished}" required/>
        <textarea name="description"  id="id_wp_descr" required>${data.description}</textarea>
        <button onclick="saveWorkplace(null, $('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>
        </div>`

        }
        function editExisted(id){
            let a = document.getElementById(id)
            let d = a.childNodes[1].value
            let data = JSON.parse(d)
            let b = a.parentElement
            b.removeChild(a)
            b.innerHTML += `<div id="workplace_form">
            <input name="companyName" id="id_companyName" value="${data.companyName}" required/>
        <input name="started" type="month" id="id_started" value="${data.started}" required/>
        <input name="finished" type="month" id="id_finished" value="${data.finished}" required/>
        <textarea name="description"  id="id_wp_descr" required>${data.description}</textarea>
        <button onclick="saveWorkplace(id,$('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>
        </div>`
        }
        function deleteWorkplace(id){
            if (id.toString().substring(0, 3) === "new"){
                document.getElementById(id).remove()
                return;
            }
            let data = {
                "id": id
            }

            $.ajax({
                type: "post",
                url: "/workplace/delete",
                data: JSON.stringify(data),
                success: document.getElementById(id).remove(),
                dataType: "json",
                contentType: "application/json"
            });
        }

    </script>
</head>
<body>

<form action="/resume/edit" method="POST">
    <input type="hidden" name="resume_id" id="resume_id" value="$resume.getId()">
    <input name="name" id="id_name" required value="$resume.getName()"/>
    <input type="checkbox" name="readyToBusinessTrip" #if ($resume.getReadyToBusinessTrip()) checked #end/>
        <input type="checkbox" name="moving" #if($resume.getMoving()) checked #end/>
    <input name="sphere" id="id_sphere" required value="$resume.getSphere()"/>
    <input name="schedule" id="id_schedule" required value="$resume.getSchedule()"/>
    <input name="type" id="id_type" required value="$resume.getType()"/>
    <input type="number" name="experience" id="id_experience" required value="$resume.getExperience()"/>
    <div id="id_workplaces">
        #foreach($data in $workplaces)
        <div id="$data.id">
            <input type="hidden" name="workplaces" value='$objectMapper.writeValueAsString($data)'/>
            <i class="fa fa-edit" onclick="editExisted($data.id)"></i>
            <i class="fa fa-minus" style="color: red" onclick="deleteWorkplace($data.id)"></i>
        <div><h3>$data.companyName</h3> <h6>$data.started - $data.finished</h6></div>
            <div><p>$data.description</p></div>
        </div>
        #end
    </div>
    <div style="display: none" id="id_remove_workplaces">

    </div>
    <i class="fa fa-plus" style="color: greenyellow" onclick="createWorkplace()"></i>
    <input name="description" id="id_description" required value="$resume.getDescription()"/>
    <input name="contact_info" id="id_contact_info" required value="$resume.getContact_info()"/>
    <input name="salary" id="id_salary" type="number" required value="$resume.getSalary()"/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>
