<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль. HH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        function createWorkplace() {
            const a = document.getElementById("id_workplace_form")
            a.innerHTML = `<input name="companyName" id="id_companyName" required/>
        <input name="started" type="date" id="id_started" required>
        <input name="finished" type="date" id="id_finished" required>
        <input name="description" id="id_wp_descr" required>
        <button onclick="saveWorkplace($('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>`
        }

        function saveWorkplace(name, started, finished, description) {
            document.getElementById("id_workplace_form").innerHTML = ""
            let data = {
                "companyName": name,
                "started": started,
                "finished": finished,
                "description": description,
                "resume": document.getElementById("resume_id").value
            }

            $.ajax({
                url: "/workplace/create",
                data: JSON.stringify(data),
                type: "POST",
                success: function (response) {
                    let d = JSON.parse(response)
                    addWorkplace(d.id, d.companyName, d.started, d.finished, d.description)
                }

            })
        }


        function addWorkplace(id, name, started, finished, description) {
            let a = document.getElementById("id_workplaces")
            a.innerHTML += `<tr id="` + id + `">
            <td>
                ` + name + `
            </td>
            <td>
                <input type="hidden" value="` + id + `" name="workplaces_id" id="id_workplaces_id">
            </td>
            <td>
                <a onclick="edit( '` + id + `','` + name + `','` + started.substring(0, 10) + "','" + finished.substring(0, 10) + "','" + description + `')"><i class="fa fa-edit" style="color: blue"></i></a>
            </td>
            <td>
                <a onclick="delete('` + id + `')"><i class="fa fa-minus" style="color:red" > </i></a>
        </td>

        </tr>`
        }

        function edit(id, name, started, finished, description) {
            let a = document.getElementById(id)
            a.innerHTML = `<input name="companyName" value="` + name + `" id="id_companyName" required/>
        <input name="started" type="date" value="` + started + `" id="id_started" required>
        <input name="finished" type="date" value="` + finished + `" id="id_finished" required>
        <input name="description" value="` + description + `" id="id_wp_descr" required>
        <button onclick="editWorkplace(` + id + `,$('#id_companyName').val(), $('#id_started').val(), $('#id_finished').val(), $('#id_wp_descr').val())">Создать</button>`
        }

        function editWorkplace(id, name, started, finished, description) {
            let a = document.getElementById(id)
            let data = {
                "id": id,
                "companyName": name,
                "started": started,
                "finished": finished,
                "description": description,
                "resume": document.getElementById("resume_id").value
            }

            $.ajax({
                url: "/workplace/edit",
                type: "POST",
                data: JSON.stringify(data),
                success: function (response) {
                    let d = JSON.parse(response)
                    let a = document.getElementById(id)
                    a.innerHTML =
                            `
            <td>
                ` + d.companyName + `
            </td>
            <td>
                <i class="fa fa-edit" style="color: blue" onclick="edit( '` + d.id + `','` + d.companyName + `','` + d.started.substring(0, 10) + "','" + d.finished.substring(0, 10) + "','" + d.description + `')"></i>
            </td>
            <td>
                <i class="fa fa-minus" style="color:red" href="delete('` + id + `')"> </i>
            </td>`
                }
            })
        }

        function deleteWorkplace(id) {
            let a = document.getElementById(id)
            a.parentNode.removeChild(a);

            let data = {
                "id": id
            }

            $.ajax({
                url: "/workplace/delete?id=" + id,
                type: "GET"
            })
        }
    </script>
</head>
<body>
<input type="hidden" id="resume_id" value="$resume.getId()">
<form action="/resume/edit" method="POST">
    <input name="name" id="id_name" required value="$resume.getName()"/>
    <input type="checkbox" name="readyToBusinessTrip" required #if ($resume.getReadyToBusinessTrip()) checked #end/>
        <input type="checkbox" name="moving" required #if($resume.getMoving()) checked #end/>
    <input name="sphere" id="id_sphere" required value="$resume.getSphere()"/>
    <input name="schedule" id="id_schedule" required value="$resume.getSchedule()"/>
    <input name="type" id="id_type" required value="$resume.getType()"/>
    <input type="number" name="experience" id="id_experience" required value="$resume.getExperience()"/>
    <table id="id_workplaces">
        #foreach($workplace in $workplaces)
            <tr id="${workplace.getId()}">
            <td>
                $workplace.companyName
            </td>
            <td>
                <i class="fa fa-edit" style="color: blue"
                   onclick="edit('$workplace.getId()', '$workplace.getCompanyName()', '$df.format($workplace.getStarted())', '$df.format($workplace.getFinished())', '$workplace.getDescription()' )"></i>
            </td>
            <td>
                <i class="fa fa-minus" style="color:red" href="delete('` + id + `')"> </i>
            </td>
            </tr>
        #end
    </table>
    <div id="id_workplace_form">

    </div>
    <i class="fa fa-plus" style="color: greenyellow" onclick="createWorkplace()"></i>
    <input name="description" id="id_description" required value="$resume.getDescription()"/>
    <input name="contact_info" id="id_contact_info" required value="$resume.getContact_info()"/>
    <input name="salary" id="id_salary" type="number" required value="$resume.getSalary()"/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>
