<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои вакансии. HH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        function like(){
            $.ajax({
                type: "post",
                url: "/vacancy/like",
                data: {
                    "id": $vacancy.getId()
                },
                success: function (response){
                    let a = document.getElementById("like")
                    a.style.color = "red";
                    a.onclick = unlike
                }
            })
        }
        function unlike(){
            $.ajax({
                type: "post",
                url: "/vacancy/unlike",
                data: {
                    "id": $vacancy.getId()
                },
                success: function (response){
                    let a = document.getElementById("like")
                    a.style.color = "grey";
                    a.onclick = like
                },
                contentType: "application/x-www-form-urlencoded"

            })
        }
    </script>
</head>
<body>
    #if($user)
        $user.getLogin()
    #end
<div>
    #if($vacancy.getName())
        <div><h1>$vacancy.getName()</h1><h6>
            #if($vacancy.getCreationDate())
                    $vacancy.getCreationDate()
                #end</h6></div>
    #end
    #if($vacancy.getSphere())
        <div><p>$vacancy.getSphere()</p></div>
    #end
    #if($vacancy.getSchedule())
        <div><p>$vacancy.getSchedule()</p></div>
    #end
    #if($vacancy.getType)
        <div><p>$vacancy.getType()</p></div>
    #end
    #if($vacancy.getPaymentSchedule())
        <div><p>$vacancy.getPaymentSchedule()</p></div>
    #end
    #if($vacancy.getExperience())
        <div><p>$vacancy.getExperience()</p></div>#end
    #if($vacancy.getPlace())
        <div><p>$vacancy.getPlace()</p></div>
    #end
</div>
#if($user)
<i class="fa fa-heart-o" id="like" style="color: #if($is_liked) red #else grey #end" #if($is_liked)onclick="unlike()"#else onclick="like()"#end></i>
#end
</body>
</html>
